<body class="custom-background">
<h1>Welcome to BookToBuyer</h1>

<p>Explore the collection of books and find your next story.. </p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!</p>

<%= link_to 'View My Books', books_path, class: 'btn btn-primary' %>

<%= link_to 'All Books', books_path, class: 'btn btn-primary' %>

  <h2>Available Books</h2>

  <h2>All Books</h2>
</body>
