<body class="custom-background">
  <%= image_tag('b2b logo.png', alt: 'BookToBuyer Logo', class: 'logo-img') %>

  <p class="under-logo">Explore the collection of books and find your next story.. </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
    nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
    nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus rem nihil suscipit? Perspiciatis at,
    nam id similique quos tempore nulla alias placeat facilis nobis, impedit porro? Numquam, sapiente. Nulla!</p>

  <div class="buttons">
    <%= link_to 'View My Books', books_path, class: 'btn btn-primary' %>
    <%= link_to 'All Books', books_path, class: 'btn btn-primary' %>
  </div>

  <h2>All Books</h2>

  <h2>New Deals</h2>

  <h2>Recommended Reads</h2>

</body>
