// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

h1{
  text-align: center;
  padding: 20px;
}

p{
  text-align: center;
}

h2{
  text-align: center;
  padding: 15px;
}


.btn-primary{
 justify-content: center;
}
