@import "bootstrap";

.navbar {
  background-color: #424242;
}

.navbar-brand {
  margin-right: 30px;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
}

.navbar .btn-outline-success {
  background-color: #161658;
  color: white;
  border-radius: 0 10px 10px 0;
}

.navbar .btn-outline-success:hover {
  background-color: #4d4d77;
  color: white;
  border-color: #4d4d77; /* Set border color on hover */
}

.navbar .btn-outline-success:focus,
.navbar .btn-outline-success:active {
  background-color: #161658;
  color: white;
  border-color: #161658; /* Set border color on click */
}

.navbar .form-control {
  border-radius: 10px 0 0 10px;
}

.custom-brand-img {
  width: 70px;
  height: auto;
  margin-left: 15px;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: opacity 0.3s ease;
  font-size: 18px;
}

.navbar-nav .nav-item .nav-link:hover {
  opacity: 0.2;
}
